<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.library.mapper.LibUserMapper">

    <resultMap type="com.example.library.domain.LibUser" id="LibUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="nickname"    column="nickname"    />
        <result property="role"    column="role"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />

    </resultMap>

    <sql id="selectLibUserVo">
        select id, username, password, nickname, `role`, del_flag, create_time, create_by, update_time, update_by from lib_user
    </sql>

    <select id="selectLibUserList" parameterType="com.example.library.domain.LibUser" resultMap="LibUserResult">
        <include refid="selectLibUserVo"/>
        <where>del_flag='0'
            <if test="username != null  and username != ''"> and username = #{username}</if>

            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="role != null  and role != ''"> and `role` = #{role}</if>
        </where>
    </select>

    <select id="selectLibUserById" parameterType="string" resultMap="LibUserResult">
        <include refid="selectLibUserVo"/>
        where del_flag='0' and id = #{id}
    </select>
    <select id="selectLibUserByUsername" parameterType="string" resultMap="LibUserResult">
        <include refid="selectLibUserVo"/>
        where del_flag='0' and username = #{username}
    </select>

    <insert id="insertLibUser" parameterType="com.example.library.domain.LibUser">
        insert into lib_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="nickname != null">nickname,</if>
            <if test="role != null">`role`,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="role != null">#{role},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>

        </trim>
    </insert>

    <update id="updateLibUser" parameterType="com.example.library.domain.LibUser">
        update lib_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="role != null">`role` = #{role},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLibUserById" parameterType="string">
        update lib_user set del_flag='2' where id = #{id}
    </delete>

    <delete id="deleteLibUserByIds" parameterType="string">
        update lib_user set del_flag='2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>